.divider {
    border: 2px solid orange;
}

#progressbar {
    width           : 100%;
    background-color: #2e3141;
    border-radius   : 5px;
    padding         : 2px;
    margin-top      : 2%;
}

#progressbarInner {
    background-color: orange;
    width: 0%;
    height: 5px;
    border-radius: 0px;
    transition: width 3s;
}

#buttonContainer {
    bottom: 0;
    position: absolute;
}

.btn-primary {
    background-color: orange;
    border-color: orange;
}

.versionContainer {
    right   : 0;
    position: absolute;
    cursor  : pointer;
}

#version,
#maxTimer, .smallTxt {
    padding: 15px;
    font-size: small;
}

#update {
    display: none;
    font-size: small;
    background: #34d234;
    padding: 5px;
    color: #fbfafa;
}

#barContainer {
    margin-top: 10%;
}

.visible {
    display: block !important;
}

.invisible {
    display: none;
}

.textfield {
    padding: 2%;
    width: 100%;
}

.status {
    color: white;
    padding: 5px;
}

.erfolg {
    background-color: #0c9e0c;
}

.keinErfolg {
    background-color: #bb1717;
}