.divider {
    border: 2px solid orange;
}

#progressbar {
    width: 100%;
    background-color: #2e3141;
    border-radius: 5px;
    padding: 2px;
    margin-top: 2%;
}

#progressbarInner {
    background-color: orange;
    width: 0%;
    height: 5px;
    border-radius: 0px;
    transition: width 3s;
}

#buttonContainer {
    bottom: 0;
    position: absolute;
}

.btn-primary {
    background-color: orange;
    border-color: orange;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f5c745;
    border-color: #f5c745;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(148, 115, 20, 0.19);
}

.versionContainer {
    right: 0;
    position: absolute;
    cursor: pointer;
}

#version,
#maxTimer,
.smallTxt {
    padding: 15px;
    font-size: small;
}

#updateBar {
    font-size: small;
    width: 100%;
    background-color: #d6d7dc;
    border-radius: 5px;
    padding: 1px;
    margin-top: 2%;
    color: #fbfafa;
}

#updateBarInner {
    background-color: #34d234;
    width: 0%;
    height: 35px;
    border-radius: 0px;
    transition: width 3s;
}

#barContainer {
    margin-top: 10%;
}

#beenden {
    cursor   : pointer;
    font-size: small;
    padding  : 10px;
}

#updateTxt {
    font-size: small;
    margin-bottom: -37px;
    color: white;
}

.visible {
    display: block !important;
}

.invisible {
    display: none;
}

.textfield {
    padding: 2%;
    width: 100%;
}

.status {
    color: white;
    padding: 5px;
    margin: 0;
}

.erfolg {
    background-color: #0c9e0c;
}

.keinErfolg {
    background-color: #bb1717;
}